<!-- Footer -->
<!-- <footer id="main-footer" class="py-4 bg-primary text-white text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <a href="">Pets</a>
                <br>
                <a href="">Shelters</a>
            </div>
            <div class="col-md-4">
                <a href="">Home</a>
            </div>
        </div>
    </div>

    Copyright &copy;
    <span class="year"></span> Dog Adopt
</footer> -->
<footer id="main-footer" class="mt-4 p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                        <h5 class="text-uppercase mb-3">Whatsapp us At</h5>
                        <p><i class="fab fa-whatsapp fa-lg" aria-hidden="true"></i> 00000000000</p>
                        <h5 class="text-uppercase mb-3">Email us At</h5>
                        <p><i class="fas fa-envelope fa-lg" aria-hidden="true"></i> dogadopt2019@gmail.com</p>
                </div>
                <div class="col-md-6">
                        <h5 class="text-uppercase mb-3">Social</h5>
                        <a href="" class="fab fa-facebook fa-2x d-block mb-3"></a>
                        <a href="" class="fab fa-instagram fa-2x d-block mb-3"></a>
                        <a href="" class="fab fa-twitter fa-2x d-block mb-3"></a>
                </div>
            </div>
            <hr style="color:rgba(0,0,0,1); margin-top: 40px">
            <p align='center'>
                Copyright &copy;
                <span class="year"></span> Dog Adopt
            </p>
        </div>
    </footer>
