{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Search Results {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Pet Shelters</h1>
          <p class="lead">These people are doing a great job by taking care of the homeless pets</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item"> 
            <a href="{% url 'shelters' %}">
              Pet Shelters 
            </a>
          </li>
          <li class="breadcrumb-item active">Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Filter -->
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <form action="{% url 'ssearch' %}">
          <!-- Form Row 1 -->
          <div class="form-row">
            <div class="col-md-8 mb-3">
              <!-- <label class="sr-only">State</label>
              <input type="text" name="state" class="form-control" placeholder="State" value="{{ values.state }}"> -->
              <label class="sr-only">State</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">State (All)</option>
                {% for key,value in state_choices.items %}
                  <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
              <button class="btn btn-secondary btn-block" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Search Text -->
  <div class="container">
      <h4>Pet Shelters in {% if values.state %} {{ values.state }} {% else %} all states {% endif %}</h4>
  </div>

  <!-- Shelters -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if shelters %}
          {% for shelter in shelters %}
            <!-- Shelter 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview" style="background-color: #F1FAEE">
                <img class="card-img-top" src="{{ shelter.photo.url }}" alt="">
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-info">{{ shelter.name }}</h4>
                    <p class="text-secondary">
                      <i class="fas fa-map-marker-alt"></i> {{ shelter.state }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-dark">
                    <div class="col-5">
                      <i class="fas fa-phone"></i> Phone: {{ shelter.phone }}</div>
                    <div class="col-7">
                      <i class="fas fa-envelope"></i> Email: {{ shelter.email }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-dark">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> Registered: {{ shelter.reg_date | timesince }} ago</div>
                  </div>
                  <hr>
                  <a href="{% url 'shelter' shelter.id %}" class="btn btn-block btn-info" >More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Shelters Available</p>
          </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if shelters.has_other_pages %}
            <ul class="pagination">
              {% if shelters.has_previous %}
                <li class="page-item">
                  <a href="?page={{shelters.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in shelters.paginator.page_range %}
                {% if pets.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if shelters.has_next %}
                <li class="page-item">
                  <a href="?page={{shelters.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}